<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>소셜 목록</h1>
    <form th:method="get" th:action="@{/admin/social}" target="ifrmProcess" autocomplete="off">
        <div>
            <input type="hidden"  name="mode"  value="edit">
            <table class="table-list">
                <thead class="thead-list">
                <tr>
                    <th th:text="#{닉네임}"></th>
                    <th th:text="#{소셜_제목}"</th>
                    <th th:text="#{아티스트_이름}"></th>
                    <th th:text="#{소속사}"></th>
                    <th th:text="#{장소}"></th>
                    <th th:text="#{삭제여부}"></th>
                    <th th:text="#{등록일자}"></th>
                </tr>
                </thead>
                <tbody class="tbody-list">
                <th:block th:if="${social != null && social.size()>0}">

                <tr th:each="sociallistData : ${social}" th:object="${sociallistData}">
                    <td th:text="*{nickname}"></td>
                    <td th:text="*{socialingName}"></td>
                    <td th:text="*{artistName}"></td>
                    <td th:text="*{agency}"></td>
                    <td th:text="*{place}"></td>
                    <td th:text="*{del_yn}"></td>
                    <td th:text="*{#temporals.format(regDt, 'yyyy년MM월dd일 HH:mm')}"></td>
                </th:block>
                <th:block th:unless="${social != null  && social.size() >0}">
                    <tr>
                        <td colspan="7" class="no_data">조회된 데이터 목록이 없습니다.</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </form>
    <th:block th:if="${social != null && !social.isEmpty()}" th:replace="~{common/_pagination::pagination}"></th:block>
</section>
</html>